
NET "CLK80" LOC = '27'; 
NET "CLK40" LOC = '81'; 
NET "CLK20_P" LOC = '53'; 
NET "CLK20_N" LOC = '54'; 
NET "DV" LOC = '82';
NET "EV" LOC = '60'; 
NET "EV_out" LOC = '16';  
NET "ENA"  LOC = '64';
NET "STR" LOC = '63';

NET "ADC0<0>" LOC = '35';
NET "ADC0<1>" LOC = '34'; 
NET "ADC0<2>" LOC = '33';
NET "ADC0<3>" LOC = '32'; 
NET "ADC0<4>" LOC = '30'; 
NET "ADC0<5>" LOC = '29'; 
NET "ADC0<6>" LOC = '28'; 
NET "ADC0<7>" LOC = '23'; 
NET "ADC0<8>" LOC = '24'; 
NET "ADC0<9>" LOC = '22'; 
NET "ADC0<10>" LOC = '19'; 
NET "ADC0<11>" LOC = '18'; 

NET "ADC1<0>" LOC = '52'; 
NET "ADC1<1>" LOC = '50'; 
NET "ADC1<2>" LOC = '49'; 
NET "ADC1<3>" LOC = '46'; 
NET "ADC1<4>" LOC = '44'; 
NET "ADC1<5>" LOC = '43'; 
NET "ADC1<6>" LOC = '42'; 
NET "ADC1<7>" LOC = '41'; 
NET "ADC1<8>" LOC = '40'; 
NET "ADC1<9>" LOC = '39'; 
NET "ADC1<10>" LOC = '37'; 
NET "ADC1<11>" LOC = '36'; 
NET "DOUT<0>" LOC = '99'; 
NET "DOUT<1>" LOC = '97'; 
NET "DOUT<2>" LOC = '96'; 
NET "DOUT<3>" LOC = '95'; 
NET "DOUT<4>" LOC = '94'; 
NET "DOUT<5>" LOC = '93'; 
NET "DOUT<6>" LOC = '92'; 
NET "DOUT<7>" LOC = '91'; 
NET "DOUT<8>" LOC = '90'; 
NET "DOUT<9>" LOC = '89'; 
NET "DOUT<10>" LOC = '87'; 
NET "DOUT<11>" LOC = '86'; 
NET "DOUT<12>" LOC = '85'; 